@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$font-logo:'Open Sans', sans-serif;

$background-color : #FFFDF9;
$logo-color :#394064;
*{
    margin: 0;
    padding: 0;
    background-color:$background-color;
}