.login-button{
    border-radius: 10px;
    border: solid 2px;
    width: 100px;
    text-align:center;
    padding: 10px 20px;
    height: 25px;
    color: $logo-color;
    border-color: #394064;
    font-family: $font-logo;
    font-weight: bold;
    font-size: 20px;
}
.blue-font{
    color:$blue-color;
    font-size: 49px;
}
main div{
    padding-top: 40px;
}
main div:nth-child(2) {
    padding-top: 20px;
  }
 main div:nth-child(3) {
    padding-top: 20px;
    color: $logo-color;
    font-size: 31px;
  }
  main div:nth-child(4){
    font-size: 20px;
    color:$blue-color;
  }
  main div:nth-child(5){
    font-size: 32px;
  }
