nav{
    /*height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    padding:0 40px;*/
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    padding:0 40px;
}
main{
    text-align: center;
    display: flex;
    flex-direction: column;
}