@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #FFFDF9;
}

.login-button {
  border-radius: 10px;
  border: solid 2px;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  height: 25px;
  color: #394064;
  border-color: #394064;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}