* {
  margin: 0;
  padding: 0;
  background-color: #FFFDF9;
}

.login-button {
  display: block;
  border-radius: 10px;
  border: solid 2px;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  height: 20px;
  /*display: block;
  width: 100px;
  background-color: $color-secondary;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: $color-white;*/
}

header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}