@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #FFFDF9;
}

.login-button {
  border-radius: 10px;
  border: solid 2px;
  width: 100px;
  text-align: center;
  padding: 10px 20px;
  height: 25px;
  color: #394064;
  border-color: #394064;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.blue-font {
  color: #1BBAF2;
  font-size: 49px;
}

main div {
  padding-top: 40px;
}

main div:nth-child(2) {
  padding-top: 20px;
}

main div:nth-child(3) {
  padding-top: 20px;
  color: #394064;
  font-size: 31px;
}

main div:nth-child(4) {
  font-size: 20px;
  color: #1BBAF2;
}

main div:nth-child(5) {
  font-size: 32px;
}

main div:nth-child(6) {
  font-size: 32px;
  height: 48px;
}

.get-advice-button {
  text-decoration: none;
  border-radius: 10px;
  border: solid 2px;
  color: white;
  background-color: #394064;
  padding: 10px;
}

main div:nth-child(7) {
  font-size: 32px;
  height: 48px;
  color: #394064;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

.image {
  flex-basis: 40%;
}

.text {
  font-size: 35px;
  padding-left: 20px;
  color: #394064;
  text-align: initial;
}

header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
}